In [1]:
# ======================================================================
# 1. IMPORTATION DES LIBRAIRIES
# ======================================================================
import pandas as pd
import numpy as np


# ======================================================================
# 2. CHARGEMENT DU JEU DE DONNÉES
# ======================================================================
DATA_PATH = r'C:\Users\agcharrabiaa\OneDrive\Bureau\OneDrive\log\Documents\GitHub\distributed-price-prediction\Data\row\housing_sales_ma_.csv'

df = pd.read_csv(DATA_PATH)
df_clean = df.copy()


# ======================================================================
# 3. NETTOYAGE INITIAL
# ======================================================================

# Suppression des espaces inutiles dans l’adresse
df_clean['address'] = df_clean['address'].astype(str).str.strip()

# Conversion ft² → m²
df_clean['surface'] = (df_clean['surface'] / 10.7639).round(2)

print("Valeurs manquantes avant nettoyage :")
print(df_clean.isnull().sum(), "\n")


# ======================================================================
# 4. CORRECTION DES VILLES 'Unknown'
# ======================================================================

def remplacer_city(row):
    if row['city'] == 'Unknown' and pd.notna(row['address']):
        return row['address'].split(',')[0].strip()
    return row['city']

df_clean['city'] = df_clean.apply(remplacer_city, axis=1)

print("Valeurs manquantes après correction des villes :")
print(df_clean.isnull().sum(), "\n")

# Normalisation des noms de villes
df_clean['city'] = (
    df_clean['city']
    .astype(str)
    .str.replace("Marrakesh", "Marrakech", case=False)
    .str.replace("MARRAKECH", "Marrakech", case=False)
    .str.replace("Tangier", "Tanger", case=False)
    .str.strip()
)


# ======================================================================
# 5. CREATION DES REGIONS A PARTIR DES VILLES
# ======================================================================

city_to_region = {
    "Casablanca": "Casablanca-Settat",
    "Mohammedia": "Casablanca-Settat",
    "Rabat": "Rabat-Salé-Kénitra",
    "Kénitra": "Rabat-Salé-Kénitra",
    "Fès": "Fès-Meknès",
    "Meknès": "Fès-Meknès",
    "Tanger": "Tanger-Tétouan-Al Hoceïma",
    "Tétouan": "Tanger-Tétouan-Al Hoceïma",
    "Asilah": "Tanger-Tétouan-Al Hoceïma",
    "Agadir": "Souss-Massa",
    "Safi": "Marrakech-Safi",
    "Marrakech": "Marrakech-Safi",
    "Ouarzazate": "Drâa-Tafilalet",
    "Zagora": "Drâa-Tafilalet",
    "Oujda": "L’Oriental",
    "Béni Mellal": "Béni Mellal-Khénifra",
    "Khénifra": "Béni Mellal-Khénifra",
    "Benslimane": "Casablanca-Settat",
    "Skhirat": "Rabat-Salé-Kénitra",
    "Salé": "Rabat-Salé-Kénitra"
}

df_clean['principale'] = df_clean['principale'].fillna(df_clean['city'].map(city_to_region))

df_clean['principale'] = df_clean['principale'].replace({
    'Asilah': 'Tanger-Tétouan-Al Hoceïma',
    'Marrakesh-Tensift-El Haouz': 'Marrakech-Safi'
})


# ======================================================================
# 6. SUPPRESSION DES DOUBLONS + NORMALISATION TYPE LOGEMENT
# ======================================================================
df_clean = df_clean.drop_duplicates()

df_clean['proprety type'] = df_clean['proprety type'].map({
    'Rural': 'house'
}).fillna(df_clean['proprety type'])


# ======================================================================
# 7. NORMALISATION DES NOMS DE COLONNES
# ======================================================================
df_clean.rename(columns=lambda x: x.strip().replace(" ", "_"), inplace=True)


# ======================================================================
# 8. DETECTION DES SURFACES ANORMALES
# ======================================================================

plage_surface = {
    'apartment': (30, 200),
    'house': (80, 600)
}

def est_anormale(row):
    t = str(row['proprety_type']).lower()
    s = row['surface']
    if pd.isna(s) or t not in plage_surface:
        return True
    mini, maxi = plage_surface[t]
    return s < mini or s > maxi

df_clean['anormale'] = df_clean.apply(est_anormale, axis=1)

df_clean_normales = df_clean[df_clean['anormale'] == False]
df_clean_anormales = df_clean[df_clean['anormale'] == True]

print("Données normales :", len(df_clean_normales))
print("Données anormales :", len(df_clean_anormales))


# ======================================================================
# 9. REMPLACEMENT DES SURFACES ANORMALES
# ======================================================================

def surface_aleatoire(type_logement):
    type_logement = str(type_logement).lower()
    if type_logement in plage_surface:
        mini, maxi = plage_surface[type_logement]
        return np.random.randint(mini, maxi)
    return np.nan

df_clean_anormales['surface'] = df_clean_anormales.apply(
    lambda row: surface_aleatoire(row['proprety_type']),
    axis=1
)

# Fusion
df_clean_final = pd.concat([df_clean_normales, df_clean_anormales], ignore_index=True)


# ======================================================================
# 10. NORMALISATION FINALE
# ======================================================================
df_clean_final["proprety_type"] = (
    df_clean_final["proprety_type"].astype(str).str.strip().str.capitalize()
)

df_clean_final["city"] = (
    df_clean_final["city"].astype(str).str.strip().str.capitalize()
)


# ======================================================================
# 11. GENERATION DES PRIX
# ======================================================================

prix_m2 = {
    "Apartment": {
        "Casablanca": (30000, 50000),
        "Rabat": (25000, 50000),
        "Marrakech": (25000, 40000),
        "Tanger": (10000, 20000),
        "Fès": (5000, 8000),
        "Meknès": (5000, 8000),
        "Essaouira": (8000, 10000),
        "Autre": (8000, 12000)
    },
    "House": {
        "Casablanca": (30000, 50000),
        "Rabat": (25000, 50000),
        "Marrakech": (25000, 40000),
        "Tanger": (10000, 20000),
        "Fès": (8000, 10000),
        "Meknès": (8000, 10000),
        "Essaouira": (8000, 10000),
        "Autre": (8000, 12000)
    }
}

def get_prix_m2(log_type, city):
    if log_type not in prix_m2:
        return prix_m2["Apartment"]["Autre"]
    return prix_m2[log_type].get(city, prix_m2[log_type]["Autre"])

def generate_price(row):
    min_m2, max_m2 = get_prix_m2(row["proprety_type"], row["city"])
    prix_m2_random = np.random.randint(min_m2, max_m2)
    return row["surface"] * prix_m2_random

df_clean_final["price_dh"] = df_clean_final.apply(generate_price, axis=1)


# ======================================================================
# 12. APERCU FINAL
# ======================================================================
print(df_clean_final.head(30))


# ======================================================================
# 13. SUPPRESSION DES COLONNES INUTILES
# ======================================================================
colonnes_a_supprimer = ["price_£", "anormale"]
df_clean_final = df_clean_final.drop(columns=colonnes_a_supprimer, errors="ignore")

print(df_clean_final.head(30))


# ======================================================================
# 14. EXPORT FINAL
# ======================================================================
# df_clean_final.to_csv(r"C:\Users\agcharrabiaa\OneDrive\Bureau\OneDrive\log\Images\data.csv", index=False)

Valeurs manquantes avant nettoyage :
price_£            0
proprety type      0
surface            0
bedroom            0
bathroom           0
address            0
city               0
principale       183
dtype: int64

Valeurs manquantes après correction des villes :
price_£            0
proprety type      0
surface            0
bedroom            0
bathroom           0
address            0
city               0
principale       183
dtype: int64

Données normales : 169
Données anormales : 153
      price_£ proprety_type  surface  bedroom  bathroom  \
0    239769.0     Apartment   130.00        2         2
1    434582.0         House   400.00        4         6
2    129875.0     Apartment    83.00        2         2
3    199808.0     Apartment   127.00        3         2
4    149856.0     Apartment   120.00        2         2
5    279731.0         House   300.00        3         2
6    201806.0     Apartment    88.00        2         2
7    179827.0     Apartment   138.00        2         2
8    486832.0         House   250.00        3         3
9     92911.0     Apartment    65.00        1         1
10   149856.0     Apartment   110.00        4         3
11   259750.0         House   500.00        5         5
12   394621.0         House   490.00        3         2
13   254182.0     Apartment    87.00        2         1
14  1035635.0         House   450.00        5         3
15   612348.0         House   350.00        6         3
16   787755.0         House   190.00        4         3
17   139170.0     Apartment    74.00        2         2
18   144025.0     Apartment    80.00        1         1
19  1085001.0         House   590.01        5         5
20   659366.0         House   120.77        4         4
21   849184.0         House   130.06        6         6
22  1298751.0         House   130.06        5         7
23   549472.0     Apartment   128.00        2         1
24    86128.0     Apartment    67.00        2         1
25   892789.0         House   525.00        5         5
26  1380646.0         House   570.01        4         1
27   407241.0     Apartment   144.00        2         1
28  1085001.0         House   590.01        5         5
29   432740.0         House   300.00        3         2

                                              address        city  \
0     Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi   Marrakech
1       Ménara, Marrakech, Marrakesh-Tensift-El Haouz   Marrakech
2   Guéliz, Marrakech, Marrakesh-Tensift-El Haouz ...   Marrakech
3                 Anfa, Casablanca, Casablanca-Settat  Casablanca
4       Ménara, Marrakech, Marrakesh-Tensift-El Haouz   Marrakech
5     Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi   Marrakech
6                       Casablanca, Casablanca-Settat  Casablanca
7   Guéliz, Marrakech, Marrakesh-Tensift-El Haouz ...   Marrakech
8                           marrakech, Marrakesh-Safi   Marrakech
9   Route dAgadir - Essaouira, Marrakech, Marrakes...   Marrakech
10  Guéliz, Marrakech, Marrakesh-Tensift-El Haouz ...   Marrakech
11            Route de Fez, Marrakech, Marrakesh-Safi   Marrakech
12  Route de Ouarzazate, Marrakech, Marrakesh-Tens...   Marrakech
13                          Marrakesh, Marrakesh-Safi   Marrakech
14                     IMI OUADDAR, Souss-Massa 80000      Agadir
15                           Imi Ouaddar, Souss-Massa      Agadir
16                          Essaouira, Marrakesh-Safi   Marrakech
17                          Essaouira, Marrakesh-Safi   Marrakech
18                        Marrakech, Marrakech-Ménara   Marrakech
19                  Marrakech, Marrakech, Province de   Marrakech
20           Route Amizmiz, Marrakech, Marrakesh-Safi   Marrakech
21  Route de Ouarzazate, Marrakech, Marrakesh-Tens...   Marrakech
22            Route de Fez, Marrakech, Marrakesh-Safi   Marrakech
23       Tétouan, Tétouan, Tangier-Tétouan-Al Hoceima     Tétouan
24                          Essaouira, Marrakesh-Safi   Marrakech
25                          Essaouira, Marrakesh-Safi   Marrakech
26                             Casablanca, Casablanca  Casablanca
27                                       Rabat, Rabat       Rabat
28                          Marrakech, Marrakech-Safi   Marrakech
29                          Marrakesh, Marrakesh-Safi   Marrakech

                    principale  anormale     price_dh
0               Marrakesh-Safi     False   4703010.00
1               Marrakech-Safi     False  15169200.00
2               Marrakech-Safi     False   2810463.00
3            Casablanca-Settat     False   4603115.00
4               Marrakech-Safi     False   4383240.00
5               Marrakesh-Safi     False  11911500.00
6            Casablanca-Settat     False   2808520.00
7               Marrakech-Safi     False   4759482.00
8               Marrakech-Safi     False   8941250.00
9               Marrakesh-Safi     False   2283125.00
10              Marrakech-Safi     False   4041950.00
11              Marrakesh-Safi     False  17274500.00
12              Marrakech-Safi     False  12263720.00
13              Marrakech-Safi     False   2447484.00
14                 Souss-Massa     False   5377500.00
15                 Souss-Massa     False   3696000.00
16              Marrakech-Safi     False   7197200.00
17              Marrakech-Safi     False   2270394.00
18              Marrakech-Safi     False   2598720.00
19                 Province de     False  17560467.63
20              Marrakesh-Safi     False   3114295.99
21              Marrakech-Safi     False   4361041.86
22              Marrakesh-Safi     False   4745889.40
23  Tangier-Tétouan-Al Hoceima     False   1376384.00
24              Marrakech-Safi     False   2340310.00
25              Marrakech-Safi     False  13252050.00
26           Casablanca-Settat     False  25236052.73
27          Rabat-Salé-Kénitra     False   6440832.00
28              Marrakech-Safi     False  17079019.47
29              Marrakech-Safi     False   9660000.00
   proprety_type  surface  bedroom  bathroom  \
0      Apartment   130.00        2         2
1          House   400.00        4         6
2      Apartment    83.00        2         2
3      Apartment   127.00        3         2
4      Apartment   120.00        2         2
5          House   300.00        3         2
6      Apartment    88.00        2         2
7      Apartment   138.00        2         2
8          House   250.00        3         3
9      Apartment    65.00        1         1
10     Apartment   110.00        4         3
11         House   500.00        5         5
12         House   490.00        3         2
13     Apartment    87.00        2         1
14         House   450.00        5         3
15         House   350.00        6         3
16         House   190.00        4         3
17     Apartment    74.00        2         2
18     Apartment    80.00        1         1
19         House   590.01        5         5
20         House   120.77        4         4
21         House   130.06        6         6
22         House   130.06        5         7
23     Apartment   128.00        2         1
24     Apartment    67.00        2         1
25         House   525.00        5         5
26         House   570.01        4         1
27     Apartment   144.00        2         1
28         House   590.01        5         5
29         House   300.00        3         2

                                              address        city  \
0     Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi   Marrakech
1       Ménara, Marrakech, Marrakesh-Tensift-El Haouz   Marrakech
2   Guéliz, Marrakech, Marrakesh-Tensift-El Haouz ...   Marrakech
3                 Anfa, Casablanca, Casablanca-Settat  Casablanca
4       Ménara, Marrakech, Marrakesh-Tensift-El Haouz   Marrakech
5     Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi   Marrakech
6                       Casablanca, Casablanca-Settat  Casablanca
7   Guéliz, Marrakech, Marrakesh-Tensift-El Haouz ...   Marrakech
8                           marrakech, Marrakesh-Safi   Marrakech
9   Route dAgadir - Essaouira, Marrakech, Marrakes...   Marrakech
10  Guéliz, Marrakech, Marrakesh-Tensift-El Haouz ...   Marrakech
11            Route de Fez, Marrakech, Marrakesh-Safi   Marrakech
12  Route de Ouarzazate, Marrakech, Marrakesh-Tens...   Marrakech
13                          Marrakesh, Marrakesh-Safi   Marrakech
14                     IMI OUADDAR, Souss-Massa 80000      Agadir
15                           Imi Ouaddar, Souss-Massa      Agadir
16                          Essaouira, Marrakesh-Safi   Marrakech
17                          Essaouira, Marrakesh-Safi   Marrakech
18                        Marrakech, Marrakech-Ménara   Marrakech
19                  Marrakech, Marrakech, Province de   Marrakech
20           Route Amizmiz, Marrakech, Marrakesh-Safi   Marrakech
21  Route de Ouarzazate, Marrakech, Marrakesh-Tens...   Marrakech
22            Route de Fez, Marrakech, Marrakesh-Safi   Marrakech
23       Tétouan, Tétouan, Tangier-Tétouan-Al Hoceima     Tétouan
24                          Essaouira, Marrakesh-Safi   Marrakech
25                          Essaouira, Marrakesh-Safi   Marrakech
26                             Casablanca, Casablanca  Casablanca
27                                       Rabat, Rabat       Rabat
28                          Marrakech, Marrakech-Safi   Marrakech
29                          Marrakesh, Marrakesh-Safi   Marrakech

                    principale     price_dh
0               Marrakesh-Safi   4703010.00
1               Marrakech-Safi  15169200.00
2               Marrakech-Safi   2810463.00
3            Casablanca-Settat   4603115.00
4               Marrakech-Safi   4383240.00
5               Marrakesh-Safi  11911500.00
6            Casablanca-Settat   2808520.00
7               Marrakech-Safi   4759482.00
8               Marrakech-Safi   8941250.00
9               Marrakesh-Safi   2283125.00
10              Marrakech-Safi   4041950.00
11              Marrakesh-Safi  17274500.00
12              Marrakech-Safi  12263720.00
13              Marrakech-Safi   2447484.00
14                 Souss-Massa   5377500.00
15                 Souss-Massa   3696000.00
16              Marrakech-Safi   7197200.00
17              Marrakech-Safi   2270394.00
18              Marrakech-Safi   2598720.00
19                 Province de  17560467.63
20              Marrakesh-Safi   3114295.99
21              Marrakech-Safi   4361041.86
22              Marrakesh-Safi   4745889.40
23  Tangier-Tétouan-Al Hoceima   1376384.00
24              Marrakech-Safi   2340310.00
25              Marrakech-Safi  13252050.00
26           Casablanca-Settat  25236052.73
27          Rabat-Salé-Kénitra   6440832.00
28              Marrakech-Safi  17079019.47
29              Marrakech-Safi   9660000.00

C:\Users\agcharrabiaa\AppData\Local\Temp\ipykernel_36584\751348575.py:144: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean_anormales['surface'] = df_clean_anormales.apply(

In [4]:
df_clean_final[df_clean_final['surface'].isnull()]

Empty DataFrame
Columns: [proprety_type, surface, bedroom, bathroom, address, city, principale, price_dh]
Index: []

In [5]:
print("Valeurs manquantes après correction des villes :")
print(df_clean_final.isnull().sum(), "\n")

Valeurs manquantes après correction des villes :
proprety_type    0
surface          0
bedroom          0
bathroom         0
address          0
city             0
principale       0
price_dh         0
dtype: int64

In [6]:
df_clean_final.head(30)

,proprety_type,surface,bedroom,bathroom,address,city,principale,price_dh
0,Apartment,130.00,2,2,"Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi",Marrakech,Marrakesh-Safi,4703010.00
1,House,400.00,4,6,"Ménara, Marrakech, Marrakesh-Tensift-El Haouz",Marrakech,Marrakech-Safi,15169200.00
2,Apartment,83.00,2,2,"Guéliz, Marrakech, Marrakesh-Tensift-El Haouz ...",Marrakech,Marrakech-Safi,2810463.00
3,Apartment,127.00,3,2,"Anfa, Casablanca, Casablanca-Settat",Casablanca,Casablanca-Settat,4603115.00
4,Apartment,120.00,2,2,"Ménara, Marrakech, Marrakesh-Tensift-El Haouz",Marrakech,Marrakech-Safi,4383240.00
5,House,300.00,3,2,"Ennakhil-(Palmeraie), Marrakech, Marrakesh-Safi",Marrakech,Marrakesh-Safi,11911500.00
6,Apartment,88.00,2,2,"Casablanca, Casablanca-Settat",Casablanca,Casablanca-Settat,2808520.00
7,Apartment,138.00,2,2,"Guéliz, Marrakech, Marrakesh-Tensift-El Haouz ...",Marrakech,Marrakech-Safi,4759482.00
8,House,250.00,3,3,"marrakech, Marrakesh-Safi",Marrakech,Marrakech-Safi,8941250.00
9,Apartment,65.00,1,1,"Route dAgadir - Essaouira, Marrakech, Marrakes...",Marrakech,Marrakesh-Safi,2283125.00
10,Apartment,110.00,4,3,"Guéliz, Marrakech, Marrakesh-Tensift-El Haouz ...",Marrakech,Marrakech-Safi,4041950.00
11,House,500.00,5,5,"Route de Fez, Marrakech, Marrakesh-Safi",Marrakech,Marrakesh-Safi,17274500.00
12,House,490.00,3,2,"Route de Ouarzazate, Marrakech, Marrakesh-Tens...",Marrakech,Marrakech-Safi,12263720.00
13,Apartment,87.00,2,1,"Marrakesh, Marrakesh-Safi",Marrakech,Marrakech-Safi,2447484.00
14,House,450.00,5,3,"IMI OUADDAR, Souss-Massa 80000",Agadir,Souss-Massa,5377500.00
15,House,350.00,6,3,"Imi Ouaddar, Souss-Massa",Agadir,Souss-Massa,3696000.00
16,House,190.00,4,3,"Essaouira, Marrakesh-Safi",Marrakech,Marrakech-Safi,7197200.00
17,Apartment,74.00,2,2,"Essaouira, Marrakesh-Safi",Marrakech,Marrakech-Safi,2270394.00
18,Apartment,80.00,1,1,"Marrakech, Marrakech-Ménara",Marrakech,Marrakech-Safi,2598720.00
19,House,590.01,5,5,"Marrakech, Marrakech, Province de",Marrakech,Province de,17560467.63
20,House,120.77,4,4,"Route Amizmiz, Marrakech, Marrakesh-Safi",Marrakech,Marrakesh-Safi,3114295.99
21,House,130.06,6,6,"Route de Ouarzazate, Marrakech, Marrakesh-Tens...",Marrakech,Marrakech-Safi,4361041.86
22,House,130.06,5,7,"Route de Fez, Marrakech, Marrakesh-Safi",Marrakech,Marrakesh-Safi,4745889.40
23,Apartment,128.00,2,1,"Tétouan, Tétouan, Tangier-Tétouan-Al Hoceima",Tétouan,Tangier-Tétouan-Al Hoceima,1376384.00
24,Apartment,67.00,2,1,"Essaouira, Marrakesh-Safi",Marrakech,Marrakech-Safi,2340310.00
25,House,525.00,5,5,"Essaouira, Marrakesh-Safi",Marrakech,Marrakech-Safi,13252050.00
26,House,570.01,4,1,"Casablanca, Casablanca",Casablanca,Casablanca-Settat,25236052.73
27,Apartment,144.00,2,1,"Rabat, Rabat",Rabat,Rabat-Salé-Kénitra,6440832.00
28,House,590.01,5,5,"Marrakech, Marrakech-Safi",Marrakech,Marrakech-Safi,17079019.47
29,House,300.00,3,2,"Marrakesh, Marrakesh-Safi",Marrakech,Marrakech-Safi,9660000.00